/* General structue */
body{-webkit-text-size-adjust: none; background: /*url("images/header-back22.png") repeat-x right top*/ #edeeee; min-width: 1150px;}
body.admin.front{-webkit-text-size-adjust: none; background: /*url("images/header-back31.png") repeat-x right top*/ #edeeee; min-width: 1150px;}

/* Three columns layout */
body.two-sidebars #sidebar-first {float: left; margin: 0 0 0 -857px; padding: 0; width: 180px;}
body.two-sidebars #main {float: left; margin: 0 0 0 195px; padding: 0; width: 663px;}
/* Two columns layout */
body.one-sidebar.sidebar-second #main {background: white; padding: 5px 10px 10px 10px; width: 825px;}

a, a:focus{ -webkit-appearance: none; outline: none;}


#logo-block a {
position: absolute;
z-index: 10;
width: 320px;
height: 100px;
left: 0px;
top: 0px;
background: url("http://zapokupkami.com/sites/all/themes/zp-themes/zp-two/img4/header_logo1.jpg") no-repeat;
}


/* Make caption narrower */
h1{margin-top: 5px; margin-bottom: 5px; line-height: 40px;}


strong{font-weight: bold;}
em, p em{font-style: italic;}

h2, .h2 {line-height: 25px;}

a{color: #478AFD;}
a:visited{color: #478AFD;}


ul{list-style: none;}

ul li p{margin-bottom: 0;}

.field-name-body ul{list-style-type: disc;}

.delim{margin: 0 5px 0 5px; /*color: #275FA6;*/}

/* Default pictures margins */
.main-content img{margin: 5px 10px 10px 10px;}

.ui-tabs .ui-tabs-nav li a{padding: .5em 7px;}

.filter-wrapper{display: none;}

/* Login/register page */
.toboggan-unified #login-links a{background-color: #478AFD; border: medium none; border-radius: 3px 3px 3px 3px; color: white; font-size: 20px; padding: 5px;}
.toboggan-unified #login-links a.lt-active, .toboggan-unified #login-links a.lt-active:hover{background-color: #478AFD; border: medium none; color: white; font-size: 20px; padding: 5px;}
.toboggan-unified #login-message{color: #478AFD;}
.toboggan-unified{padding: 20px; text-align: center; width: 810px;}
.toboggan-unified input{text-align: center;}

form#user-login, form#user-login input{text-align: center;}


.form-item .description{color: gray; font-size: 12px;}

/* Fields hints */
input.blur,
.ui-state-default.blur, .ui-widget-content .ui-state-default.blur, .ui-widget-header .ui-state-default.blur{color: lightgray;}


/* Fix for visible stars (with relative position) over the table header while floating table header.*/
table.sticky-header {z-index: 10;}
.view-providers table.sticky-header th {border: none;}


#header, #navigation, #all-content, #footer-inside{width: 1100px; margin: auto;}


/* Header */
#header{padding-top: 128px; z-index: 4;}

#header #header-menu-back{display: none; /*background: url("images/sprite-2.png") repeat-x scroll 0 -58px #F3F3F3; border-radius: 6px 6px 0 0; min-height: 45px;*/}






/* Main menu via Nice menu*/


#block-nice-menus-1 {position: absolute; top: 42px; right: 0; text-transform: uppercase;}
ul.nice-menu li {background: none; border: none; margin-left: 10px;}
ul.nice-menu li.menuparent li {margin-left: 0;}

ul.nice-menu li:hover,
ul.nice-menu-down li.menuparent:hover {background: #ecf3f5; box-shadow: 0 0 0px #DDDDDD,0 1px 1px lightgray;}
ul.nice-menu a,
ul.nice-menu-down .menuparent a{color: #666666; font-weight: 600; padding: 7px 7px;  font-family: arial; font-size: 14px;}
ul.nice-menu-down .menuparent ul a{font-size: 13px;}

ul.nice-menu li:hover a,
ul.nice-menu li ul a{color: #0099c8 !important;}

ul.nice-menu-down li.menuparent {background: none;}


ul.nice-menu ul {border: none; background: #ecf3f5; top: 29px; border-top: 1px solid #97d3e5; width: 100%; box-shadow: 0 0 0px #DDDDDD,0 1px 1px lightgray;}
ul.nice-menu .menu-1614 ul {width: inherit;}


ul.nice-menu ul li {width: inherit;}
ul.nice-menu .menu-1614 ul li {width: 230px;}

ul.nice-menu-down ul li:hover {background: #f8fafb;}

ul.nice-menu-down .menuparent ul a {font-weight: normal; padding-left: 16px;  margin-left: 5px;}



/* Search block */
.region-sidebar-second #block-search-form{position: static; color: lightgray; padding-bottom: 0; border: 1px solid lightgray; border-radius: 5px; box-shadow: 1px 3px 10px -4px black;}

.region-sidebar-second #block-search-form .contextual-links-wrapper{display: none;}
.region-sidebar-second form#search-block-form{margin-bottom: 0;}
.region-sidebar-second #block-search-form input.form-text{-webkit-appearance: textfield; background: transparent; border: none; height: 20px; outline: medium none; padding-left: 5px; width: 200px; color: gray;}
.region-sidebar-second #block-search-form input.form-text:focus{ -webkit-appearance: none; outline: none; border: none;}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button{-webkit-appearance: none;}

.region-sidebar-second #block-search-form .form-type-textfield{float: left; margin: 0; position: static;}
.region-sidebar-second #block-search-form .form-actions{display: block; height: 20px; float: left;}
.region-sidebar-second #block-search-form input.form-submit{background: url("images/sprite-2.png") no-repeat scroll 0 -150px transparent; color: white; border: none; font-size: 0px; text-indent: -90px; height: 21px; display: block; margin: 6px 0 0 6px; width: 18px; cursor: pointer;}

.sidebar .block#block-search-form .content{padding: 5px 0 15px 5px; height: 15px; background: lightgray;}



/* Search block on 404 */
.search-on-404{position: static; color: lightgray; padding-bottom: 0; border: 1px solid lightgray; width: 450px; margin: 30px auto 0 auto; border-radius: 7px; overflow: hidden; box-shadow: 1px 3px 10px -4px black;}
.block.search-on-404  .content{padding: 5px 0 15px 5px !important; height: 15px; background: lightgray; margin-top: 0 !important; border: none !important;}
.search-on-404 .contextual-links-wrapper{display: none;}
.search-on-404 form#search-block-form{margin-bottom: 0;}
.search-on-404 input.form-text{-webkit-appearance: textfield; background: transparent; border: none; height: 20px; outline: medium none; padding-left: 5px; width: 410px; color: gray;}
.search-on-404 input.form-text:focus{ -webkit-appearance: none; outline: none; border: none;}

.search-on-404 .form-type-textfield{float: left; margin: 0; position: static;}
.search-on-404 .form-actions{display: block; height: 20px; float: left;}
.search-on-404 input.form-submit{background: url("images/sprite-2.png") no-repeat scroll 0 -150px transparent; color: white; border: none; font-size: 0px; text-indent: -90px; height: 21px; display: block; margin: 6px 0 0 6px; width: 18px; cursor: pointer;}








#header #logo-block{color: #C5C5C5; left: 0; position: absolute; top: 5px; width: 400px;}

#header #logo{float: left; margin: 2px 0;}
#header #logo-block .descr{float: left;}
#header #logo-block .title{font-size: 22px; font-weight: bold; margin-top: 15px; line-height: 25px; font-style: italic;}
#header #logo-block .subtitle{font-size: 24px; line-height: 32px; float: left; letter-spacing: 3px; font-style: italic; text-indent: 1px;}


#header #block-gv-blocks-header-links{color: white; margin: 0; padding: 0; position: absolute; right: 0; top: 18px;}

#header #block-gv-blocks-header-links .follow-us{color: #C5C5C5; font-size: 14px; float: right; margin: 0 0 0 160px;}
ul.header-links{margin: 5px 0 0; padding: 0;}
ul.header-links li{float: left;}

ul.header-links a,
.share-static a{display: block; text-indent: -9999px; width: 40px; height: 37px; margin: 0 0 0 7px; padding: 0; float: left; /*clear: both;*/}

.share-static a {margin: 0 10px 0 0; padding: 0 !important;}

#block-gv-blocks-sidebar-share-block .content {padding: 10px 10px 0 10px; overflow: hidden;}

footer .share {border-top: solid 1px lightgray; padding: 15px 0;}
footer .share .share-static {width: 300px; margin: 0 auto; overflow: hidden;}
footer .share .share-static span{float: left; padding: 6px 15px;}


#footer ul.header-links a{margin: 0 7px 0 0;}

a.Twitter{background: url("images/sprite-2.png") no-repeat scroll 0 -199px transparent;}
a.Facebook{background: url("images/sprite-2.png") no-repeat scroll 0 -239px transparent;}
a.GooglePlus{background: url("images/sprite-2.png") no-repeat scroll 0 -322px transparent;}
a.LinkedIn{background: url("images/sprite-2.png") no-repeat scroll 0 -282px transparent;}
ul.header-links a.YouTube{background: url("images/sprite-2.png") no-repeat scroll 0 -363px transparent;}
ul.header-links a.Rss{background: url("images/sprite-2.png") no-repeat scroll 0 -657px transparent; margin-right: 0 !important;}

ul.header-links a.Submit.Reviews{background: url("images/block-head-red.png") repeat-x scroll 0 0 red; border: 1px solid red; border-radius: 3px 3px 3px 3px; color: white; padding: 0 2px 0 3px; margin: 0; position: absolute; right: 0; text-indent: 0; top: 52px; width: 145px; height: 25px; font-weight: bold;  text-align: center;}




/* Footer */

#footer {background: #333333; color: white; height: 190px; padding: 5px 0; text-align: center; width: 100%; /*display: table;*/}

#footer.no-follow-us-links {height: 110px; padding-top: 20px;}

#footer-inside{width: 1100px; margin: auto;} 

#footer .region-footer{margin-left: 175px; overflow: hidden;}

#footer .region-footer .content{overflow: hidden;}

#lock-n-rss{float: left; margin-left: 450px;}

#footer #block-gv-blocks-follow-links {color: white; margin: 5px auto 5px auto; padding: 0; width: 275px; overflow: hidden;}

.block{margin-bottom: 0.7em; position: relative;}

#footer .block{margin-bottom: 0;}
#footer .menu a{color: white; font-size: 14px;}
#footer .menu li{margin: 2px 2px 0 2px;}



/* System Messages */
/*
.messages{overflow-x: scroll;}
.krumo-root, .krumo-child, .krumo-element, .krumo-nest, .krumo-node{width: 100%; overflow-x: scroll;}
*/
div.messages,
div.error{border: none;}


/* OM MegaMenu styles */

.block-om-maximenu div.contextual-links-wrapper,
.om-maximenu .om-maximenu-edit a{display: none !important;}


ul.gv{margin-left: 0px; padding-left: 10px;}
.block.block-om-maximenu{width: 1090px; left: 0; position: absolute; top: 82px; z-index: 10;}


.om-btitle {float: left; position: absolute; left: -180px;}
.om-maximenu-content .block{float:left; margin: 0; padding: 0; width: 100%;}
.om-maximenu-content .block .block{margin-left: 0;}
.om-maximenu-content h3, .om-maximenu-content h2{margin-top:0; display: none;}


/* set constant position for om submenu block*/
.om-maximenu.om-maximenu-block ul.om-menu {width: 1100px;}

.om-maximenu ul.om-menu li.om-leaf{top: -2px;}

#om-menu-main-om-menu li.om-leaf{position: relative; height: 40px; z-index: 400; padding: 0;}

#om-menu-main-om-menu li.om-leaf.first{padding-left: 0;}


#om-menu-main-om-menu li.om-leaf.leaf-about-us .om-maximenu-middle{width: 120px;}
  
#om-menu-main-om-menu li.om-leaf.last,
body.not-admin #om-menu-main-om-menu li.om-leaf.leaf-write-review{background: none;}


.om-maximenu ul.om-menu li.om-leaf .om-link{line-height: 41px; color: #666666; font-weight: bold; font-size: 13px; padding: 4px 14px 8px 14px;}


.om-maximenu ul.om-menu li.om-leaf a.om-link{padding: 4px 8px 10px 8px;}

.om-maximenu ul.om-menu li.om-leaf.first a.om-link{padding-left: 24px; border-radius: 5px 0 0 0;}



.om-maximenu ul.om-menu li.om-leaf:hover om-link, .om-maximenu ul.om-menu li.om-leaf:hover a.om-link {background: #adadad; color: white;   box-shadow: inset 1px 0px 10px -1px gray;}

/*Make screen wide width for om submenu block */

.om-maximenu .om-maximenu-content{top: 39px; padding-top: 5px; min-width: 145px; width: 145px;left: 0px;}
.om-maximenu .leaf-insights .om-maximenu-content{min-width: 120px; width: 120px;}

.om-maximenu-simple .om-maximenu-middle{color: white; padding: 0; }

.om-maximenu-simple .om-maximenu-middle a{color: white; padding: 7px 10px 7px 22px; display: block; width: auto; box-shadow: inset 3px 1px 2px -2px gray;}


.om-maximenu-simple .om-maximenu-middle a:hover {background-color: #8e8e8e; color: white; text-decoration: none;}

.leaf-residential-voip .om-maximenu-content{width: 220px;}

.om-leaf .content a{font-size: 13px;}



    
.om-maximenu ul.om-menu li.om-leaf.first a.om-link {padding-left: 8px; border-radius: 0px 0 0 0;}
    
/* not bold */
.om-maximenu ul.om-menu li.om-leaf .om-link {font-size: 14px; font-weight: normal;}
 #om-menu-main-om-menu li.om-leaf.first {padding-left: 14px;}
.om-maximenu ul.om-menu li.om-leaf a.om-link {padding: 4px 10px 10px;}
    


/* Menu*/
.menu-preface{float: left; margin-right: 20px;}
/* Footer and header menu */ 
.region-header ul.gv.menu li, .region-footer ul.gv.menu li{float: left;}


.block .inside,
.node .inside{border: 1px solid gray; background: white; position: relative;}

/* Home page main content */


/* Bottom content of the main page */


.field.field-name-field-preface-bottom {margin-top: 15px;}


/* Allow floating from the left*/
.field-name-field-preface-bottom .clearfix::after{clear: none;}


/* Views block with charts on some pages */


.front #main .block {position: relative; margin-bottom: 15px;}

#main h2 {font-size: 18px; line-height: 18px; margin: 0; padding: 10px 0 2px 0;}

.front #main h2.block-title {margin-bottom: 2px;}

h1.preface,
h2.preface { font-size: 18px; font-weight: bold; line-height: 18px; margin: 0; padding: 0 0 5px 0;}


.front h1.preface {margin-left: 10px; width: 500px;}



.front #main .block .content{padding: 0; font-size: 13px;}

.front #main .node .content{padding: 10px; font-size: 13px;}

.front p{line-height: 25px; color: #777777;}

/* Highlighted*/
#highlighted .block .inside{background: transparent; margin-bottom: 0; border: none;}
/* Side bar, blocks */


body.sidebar-second #sidebar-second{float: right; margin-right: 18px; padding: 18px 0 0; width: 220px;}

.sidebar .block {box-shadow: none; border: 1px solid orange; overflow: hidden; background: white; border-radius: /*5px*/0; margin-bottom: 12px; position: relative; padding-bottom: 10px; z-index: 1; margin-top: 15px;}

.sidebar .block.first {margin-top: 14px;}

.sidebar .block-title,
#highlighted .block-title {border-radius: 5px 5px 0 0; padding: 10px; margin: 0; font-size: 16px; font-weight: bold; text-transform: capitalize; line-height: 18px; color: white;}
.sidebar .block li {list-style: none; clear: both;}

.block-thumb{float: left; margin: 10px 10px 0 5px; min-height: 60px;}
.date-icon{height: 55px; float: left; text-align: center; margin: 3px 10px 0 3px; width: 50px; color: white;}
.date-icon span span span{color: orange; font-weight: bold; padding: 5px 0 0 0; display: block; line-height: 19px;}

.sidebar #block-system-user-menu .content{padding: 10px 0 10px 0;}
.sidebar #block-system-user-menu .content a{font-size: 18px; padding: 0 0 0 10px; color: gray;}

.sidebar #block-user-login .content{padding: 10px;}
.sidebar #block-user-login .content a{padding: 0;}
.sidebar #block-user-login label{font-size: 14px;}

.sidebar .block .content ul{list-style: none; padding: 0; margin: 0;}
.sidebar .block .content a{color: #777777; font-size: 12px; padding: 2px 10px; display: block;}
.sidebar .block .content a:hover{color: #478AFD; text-decoration: underline;}


/* Clear ui-widget-content form settings */
.block form{background: none; border: none;}
/* Blocks icons */
.block-icon{position: absolute; right: 2px; top: -7px; height: 44px; width: 50px;}

/* New style blocks */

#all-content{background: white; box-shadow: 0 0 0px #DDD,0 20px 7px black;}
body.one-sidebar.sidebar-second #sidebar-second{background: none; padding: 10px 10px 0 0; width: 240px; margin: 0;}
.sidebar .block .content{padding-top: 5px;}



.sidebar .block .content .views-row a{color: #777; font-size: 12px; /*padding: 4px 10px;*/ display: block; border-bottom: 1px dotted lightgray; width: 205px; margin: 0 0 0 12px; padding: 2px 10px 2px 0;}


.sidebar .block .content .views-row.views-row-last a{border-bottom: none;}

.sidebar .block .more-link a {background: url("images/sprite-2.png") no-repeat scroll 0 -720px transparent; right: 5px; line-height: 10px; padding: 11px; position: absolute; text-align: left; text-indent: -9999px; top: 5px; width: 30px;}


/* Characters counter */
.form-item{position: relative;}
form .counter{color: #CCCCCC; position: absolute; right: 0; top: 0;}
form .counter.warning{color: lightcoral;}
form .counter.exceeded{color: red;}



/* Node page, including Article */

.page-node #main .main-content{border: 1px solid lightgray; padding: 0 40px 10px; position: relative;}

.page-node #main .main-content .content h2.not-published{color: red;}

.page-node #main .main-content h1.not-published{color: red;}

.node-type-admin-page h1{margin-top: 13px;}
  
.page-node #main .submitted{font-size: 15px; color: gray;}

.page-node .submitted .delim{font-weight: bold; margin-right: 5px;}

.node-teaser .submitted a{margin: 0 0 0 3px;}
.page-node .submitted a{margin: 0 0 0 5px;}
.page-node #main .main-content .content{/*border-top: 1px dotted #C4C4C4;*/ margin-top: 12px; padding-top: 20px;}
.page-node #main .main-content .block-views .content{border: none;}

.page-node #main #comments{margin: 30px;}

/* Article node page */

.share{overflow: hidden; width: 100%;}

.float.share{border: none;
position: absolute;
top: 0;
/*height: 120px;*/
width: 70px;
z-index: 100;
/*background: green;*/
margin-left: -80px;
/*overflow: hidden;*/
float: left;
margin-top: 150px;
}

.share .main{width: 410px; float: right;}
.IN-widget{float: left; margin-right: 13px;}
#___plusone_0{float: left !important; width: 56px !important;}
.fb-like{float: left; top: -2px; width: 57px;}
.twitter-share-button{width: 59px !important;}

.share .others{float: left; padding-top: 3px;}
.share .others .addthis_toolbox a{margin-right: 5px}
.share .others .addthis_button_email{position: relative; top: -4px;}
.share .others .at15t_email{margin-right: 4px; position: relative; top: 3px;}


/* Article list and teasers */
#main .view-taxonomy-term .views-row,
#main .view-articles .views-row,
#main .view-news .views-row,
#main .view-blog .views-row {border: 1px solid lightgray; padding: 20px 15px 10px; overflow: hidden; height: inherit; margin-bottom: 20px; width: 785px; /*box-shadow: 1px 3px 10px -4px gray;*/}


#main .view-taxonomy-term h2,
#main .view-articles h2,
#main .view-news h2,
#main .view-blog h2{margin-top: 0; padding: 0;}



/* Review page */
.page-node .node{margin-bottom: 0;}


/* Prefaces */
/* Front prefaces */


.front #main .node-admin-page, 
.front #main .node-admin-page h2{padding: 10px 10px 0 5px; border: none;}

.front #main .node-admin-page .inside{border: none;}
.front #main .node-admin-page .content{text-align: justify; font-size: 16px; padding: 10px 5px 10px 5px;}
.front .node-admin-page p{margin: 0 0 10px;}

/* Other prefaces */

.front .content.page, .attachment-before .content.page{font-size: 16px; padding: 10px 5px 0; text-align: justify;}

.front .content.page{font-size: 13px; margin-bottom: 5px;}








.front h1, .attachment-before h1{line-height: 18px; color: black; font-size: 18px; font-weight: bold; margin: 0; border: medium none; padding: 0 10px 0 5px;}

h1.preface,
.front h1 {margin-top: 5px; padding: 0;}



h1.preface, #main h2.preface {
font-weight: normal;
font-size: 25px; /*22px*/
line-height: normal;
}


.front h1.preface {
font-weight: normal; /*600;*/

font-size: 33px; /*29px*/
line-height: 35px;

color: #666666;
}



.content.page.preface,
.front .content.page.preface, 
.attachment-before .content.page.preface,
.field-name-field-preface-b-body {font-size: 14px; padding: 0px 0 10px 0; /*padding: 5px 0 10px 0;*/ text-align: left; max-width: 780px;}

.field-name-field-preface-b-body {max-width: 750px;}


.front .content.page.preface{padding: 0;}

.front .preface table {margin: 0 !important;}


.preface p,
.field-name-field-preface-b-body, 
.field-name-field-preface-b-body p 
{color: black; margin-bottom: 0px; line-height: /*17*/20px;}

.field-name-field-preface-b-body p{margin-bottom: 7px; /*margin-top: 7px;*/}


/* Articles teasers */
.node-teaser{margin-bottom: 0;}
.node-teaser h2{display: block; overflow: hidden;}
.node-teaser h2 a{color: black; font-size: 24px; line-height: normal; margin: 0; border: medium none; padding: 0 10px 0 0;}    
.node-teaser h2 a:hover {text-decoration: underline; color: #478AFD;}

#main .node-teaser .submitted{border-bottom: 1px dotted lightgray; display: block; font-size: 12px; margin: 2px 0; padding-bottom: 5px;}

.content.teaser{font-size: 14px; margin: 5px 0 5px 0; text-align: left; }

.node-teaser.with_thumb .teaser-content {margin-left: 290px;}

.content.teaser .thumb{width: 270px; float: left; margin: 5px 10px 5px 0; text-align: center;}

.content.teaser .more{color: #478AFD;}




/* Tables in bodies */

/* Table in prefaces new style */
.preface table {margin-top: 10px !important;}


.field-name-body table tbody{}
.field-name-body table th{}
.field-name-body table tr{}

.field-name-body table td, #main .block table td{border: 1px solid lightgray; padding: 5px;}


.field-name-body table.no-border td, #main .block table.no-border td{border: none;}

/* Body content for admin pages */
.node-type-admin-page .field-name-body table{margin: 0;}
.node-type-admin-page .field-name-body table td{vertical-align: top;}



#all-content, #highlighted {background: white; margin: auto; padding: 0 0 0 0; width: 1100px; box-shadow: 0 0 0px #DDDDDD, 0 2px 7px lightgray; min-height: 400px;}


#highlighted {min-height: 359px;}
.logged-in #highlighted {min-height: 320px/*400px;*/; /*box-shadow: none;*/} 
.admin #highlighted {box-shadow: none;} 


#highlighted .preface p {line-height: 17px;}
.front #highlighted .content.page.preface {font-size: 13px;}

body.one-sidebar.sidebar-second #main {background: none repeat scroll 0 0 white; padding: 5px 10px 10px 10px; margin-left: 6px; width: 820px;}

/* User profile */


.profile{margin-top: 5px;}
.profile #user-caption{border-bottom: 1.5px dotted lightgray; color: #478AFD; font-size: 25px; font-style: italic; margin-bottom: 20px; text-align: center;}
.profile .field-name-field-u-bio,
.profile .field-name-field-u-bio p{text-align: left;}

.profile .user-picture{float: none; text-align: center;}
.profile #articles-caption{font-style: italic; margin: 20px 0 20px; text-align: center;}

.profile .view-articles{margin-bottom: 40px;}


/* Block in the highlited region v1 */
.region-highlighted {position: relative;}
#highlighted {padding: 0/*10px 10px 0 10px*/; width: 1100px/*1080px*/; /*min-height: 100px;*/ background: url('images/highlighted-back.jpg') repeat-x 0 bottom white; border-bottom: 1px solid lightgray;}

#highlighted .field-name-body table td {border: none;}

/* Socialite */
.cf:after{visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
* html .cf{zoom: 1;}
*:first-child+html .cf{zoom: 1;}

.social-buttons .vhidden{border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}

/*
 * Socialite Look-a-like defaults
 */
.social-buttons{display: block; list-style: none; padding: 0; margin: 0; text-align: right;}

.social-buttons > li{display: block; margin: 0; float: left;}

.social-buttons .socialite{display: block; position: relative; height: 25px;}

.social-buttons div.socialite{display: block; position: relative; height: 75px; padding-right: 20px;}


.social-buttons a.socialite{padding-right: 10px;}

.social-buttons .socialite-loaded{background: none !important;}

.social-buttons a.twitter-share{width: 95px; background-position: 0 30px; padding-right: 10px;}

.social-buttons div.googleplus-one{width: 60px;}
.social-buttons a.googleplus-one{width: 67px; background-position: -114px 30px; padding-right: 10px;}

.social-buttons div.facebook-like{width: 65px;}
.social-buttons a.facebook-like{width: 82px; background-position: -202px 30px; padding-right: 10px;}

.social-buttons div.linkedin-share{width: 125px; padding-right: 0;}
.social-buttons a.linkedin-share{width: 95px; background-position: -294px 30px; padding-right: 10px;}


a.yt-direct{display: block; width: 40px; margin: 0 0 0 6px; outline: none; height: 39px;}

a.yt-direct:hover{outline: none;}
a.yt-direct:active{outline: none;}

.yt-direct-label {display: none;}


/* Search results page */
.search-results p.search-info{font-size: 12px; font-style: italic; margin-bottom: 6px;}
.search-results p.search-snippet{margin-bottom: 0;}
.search-results .title{margin-top: 10px;}
.search-results li{margin-bottom: 5px;}



/* Embed media */
.media_embed{text-align: center;}

.view-reviews .attachment select,
.views-exposed-widgets select{float: left; margin-top: 5px; font-size: 12px;}

/* Breadcrumb */
.breadcrumb{clear: both; padding: 0 0 2px 0; font-size: 12px; color: lightgray;}

/* Page 404 */
#main .main-content.page404{padding: 30px 60px 10px 60px;}
#main .page404 .content.page{border: none; margin: 0; padding: 0; font-size: 16px; color: black;}
.page404 .sitemap{margin-top: 40px; font-size: 14px;}
#main .page404 .content.page p{color: black; line-height: 24px;}



/* new fonts for preface and block titles */
.sidebar h3.block-title,
#highlighted h2.block-title {
font-family: arial;
font-size: 20px;
font-weight: normal;
text-shadow: 1px 1px 1px gray;
}

.sidebar h3.block-title {font-weight: normal; text-shadow: none; color: #444444; padding: 23px 10px 7px 10px; border-radius: 0; font-size: 19px;}



.pager.custom {text-align: center;}
.pager.custom .newer {margin: 0 20px 0 -10px;}

/* Get rid of extra images to load */
#cboxTopCenter {background: white repeat-x 0 -562px transparent;} 
#cboxBottomCenter {background: white repeat-x 0 -592px transparent;}
#cboxLoadingOverlay {background: none;}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background: #f1f1f1/*#e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x*/;}

/* Fix .contextual-links visibility, broken by usual links (a) styling */
.sidebar .block .content a.contextual-links-trigger {display: none; border-bottom: none; text-indent: -9999px; width: inherit; padding: 0 14px;}
.sidebar .block .content .contextual-links-region:hover a.contextual-links-trigger {display: block;}
.sidebar .block .content .contextual-links-wrapper ul a {border: none; width: inherit; padding: 5px; margin: 0;}
.page-node #main .main-content:hover .contextual-links-trigger {display: block;}


/*Menu*/
ul.menu .menu {
    text-indent: 10px;
}


ul.menu a.active, ul.menu a.active-trail {
    font-weight: bold;
}

ul.menu > ul {
    display: none;
}

ul.menu li.active-trail > ul {
    display: block;
}

// Facet blocks
/*
.facetapi-checkbox {
    float: left !important;
}
*/

/*
.block-facetapi a[id*='facetapi-link'] {
    float: left;
}
*/

.block-facetapi .expanded div {
    margin-left: 10px;
}